*{
    margin: 0;
    padding: 0;   
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.main-div{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #74b9ff;
}

.inner-div{
    width: 25vw;
    background-color: #fff;
    padding: 2rem 0.5rem 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem -0.7rem black;
}
button{
    margin-left: 1rem;
    padding: 0 1rem 0 1rem;
    font-size: 2rem;
    background-color: #74b9ff;
}
button:hover{
    background-color: #0984e3;
}
.show{
    display: none;
}
input{
    font-size: 2rem;
    padding-left: 1rem;
}
#delete{
    position: relative;
    bottom: 0;
    left: 30%;
    margin: 2rem 1rem 1rem 1rem;
}
.tasks{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
}
