<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to Day 14</h1>
    <form action="/login" method="GET"><button>Login</button></form>
    <form action="/register" method="GET"><button>Register</button></form>
    <form action="/secret" method="GET"><button>Secret Data</button></form>
</body>
</html>