

.box{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.one{
    position: absolute;
    top: 27.2%;
    left: 30%;
    height: 100px;
    width: 20px;
    background-color: white;
    border-radius: 7%;
}
.one-second{
    background-color: white;
    position: absolute;
    height: 50px;
    width: 20px;
    top: 14.5%;
    left: 25%;
    transform: rotate(220deg);
    transform-origin: bottom right;
    border-radius: 10%;
}
.zero-one{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    border-width: 20px;
    border-color: white;
    top: 28%;
    left: 33%;
}
.zero-two{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    border-width: 20px;
    border-color: white;
    top: 28%;
    left: 54%;
}
.days{
    position: absolute;
    font-size: 80px;
    top: 50%;
    left: 27%;
}
.last{
    position: absolute;
    font-size: 25px;
    top: 70%;
    left: 27%;
}

