*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  height: 100vh;
  width: 100vw;
  display: flex;
}
.card{
  color: rgb(3, 3, 24);
  border: 1px solid rgb(70, 66, 66);
  padding: 10px 20px;
  display: inline-block;
  margin: auto;
  width: 400px;
  border-width: 5px;
}

.card img{
  width: 100%;
}
.card p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}